<!--/-->
<launch>
  <arg name="prefix" default="map"/>

  <!-- throttling rate -->
  <arg name="rate" value="2"/>

  <!-- list of topics to throttle -->
  <arg name="top_lidar_topic0" value="scans/top/velodyne_points_with_invalid"/>

  <arg name="front_lidar_topic0" value="laser_clouds/preprocessed_z_filtered"/>
  <arg name="front_lidar_topic1" value="no_floor_grid/laser_clouds/floor"/>
  <arg name="front_lidar_topic2" value="laser_clouds/raw"/>
  <arg name="front_lidar_topic3" value="scans/planar_only_cloud"/>

  <arg name="proximity_topic0" value="depthcam_proximity_front/depth_nofloor_nocliff/points"/>
  <arg name="proximity_topic1" value="depthcam_proximity_back/depth_nofloor_nocliff/points"/>
  <arg name="proximity_topic2" value="depthcam_proximity_front2/depth_nofloor_nocliff/points"/>
  <arg name="proximity_topic3" value="depthcam_proximity_back2/depth_nofloor_nocliff/points"/>
  <arg name="proximity_topic4" value="depthcam_proximity_front/depth_floor/points"/>
  <arg name="proximity_topic5" value="depthcam_proximity_back/depth_floor/points"/>
  <arg name="proximity_topic6" value="depthcam_proximity_front2/depth_floor/points"/>
  <arg name="proximity_topic7" value="depthcam_proximity_back2/depth_floor/points"/>

  <!-- Throttle topics -->
  <group ns="$(arg prefix)">
    <group ns="top_lidar_map">
      <node name="$(anon top_lidar_topic0)" type="throttle" pkg="topic_tools" args="messages /$(arg top_lidar_topic0) $(arg rate) $(arg top_lidar_topic0) _lazy:=true"/>
    </group>
    <group ns="front_lidar_map">
      <node name="$(anon front_lidar_topic0)" type="throttle" pkg="topic_tools" args="messages /$(arg front_lidar_topic0) $(arg rate) $(arg front_lidar_topic0) _lazy:=true"/>
      <node name="$(anon front_lidar_topic1)" type="throttle" pkg="topic_tools" args="messages /$(arg front_lidar_topic1) $(arg rate) $(arg front_lidar_topic1) _lazy:=true"/>
      <node name="$(anon front_lidar_topic2)" type="throttle" pkg="topic_tools" args="messages /$(arg front_lidar_topic2) $(arg rate) $(arg front_lidar_topic2) _lazy:=true"/>
      <node name="$(anon front_lidar_topic3)" type="throttle" pkg="topic_tools" args="messages /$(arg front_lidar_topic3) $(arg rate) $(arg front_lidar_topic3) _lazy:=true"/>
    </group>
    <group ns="proximity_map">
      <node name="$(anon proximity_topic0)" type="throttle" pkg="topic_tools" args="messages /$(arg proximity_topic0) $(arg rate) $(arg proximity_topic0) _lazy:=true"/>
      <node name="$(anon proximity_topic1)" type="throttle" pkg="topic_tools" args="messages /$(arg proximity_topic1) $(arg rate) $(arg proximity_topic1) _lazy:=true"/>
      <node name="$(anon proximity_topic2)" type="throttle" pkg="topic_tools" args="messages /$(arg proximity_topic2) $(arg rate) $(arg proximity_topic2) _lazy:=true"/>
      <node name="$(anon proximity_topic3)" type="throttle" pkg="topic_tools" args="messages /$(arg proximity_topic3) $(arg rate) $(arg proximity_topic3) _lazy:=true"/>
      <node name="$(anon proximity_topic4)" type="throttle" pkg="topic_tools" args="messages /$(arg proximity_topic4) $(arg rate) $(arg proximity_topic4) _lazy:=true"/>
      <node name="$(anon proximity_topic5)" type="throttle" pkg="topic_tools" args="messages /$(arg proximity_topic5) $(arg rate) $(arg proximity_topic5) _lazy:=true"/>
      <node name="$(anon proximity_topic6)" type="throttle" pkg="topic_tools" args="messages /$(arg proximity_topic6) $(arg rate) $(arg proximity_topic6) _lazy:=true"/>
      <node name="$(anon proximity_topic7)" type="throttle" pkg="topic_tools" args="messages /$(arg proximity_topic7) $(arg rate) $(arg proximity_topic7) _lazy:=true"/>
    </group>
  </group>
</launch>
